extends layout
block content
    | username
    input#uname(type='text', value='enter name' )
    br
    | password
    input#pass(type='password', value='password' )
    br
    script.    
    button(onclick='populateTable();') submit
